#**1. Discuss string slicing and provide examples.**
Extrect or string slicing:

String slicing is used to extract a portion of a string by defining a start and end index.

It follows the string format[start:end], where start is the index where slicing/extracting begins (inclusive) and end is the index where it ends (exclusive).

From the string format[start:end], "start" is inclusive which means the provided index is inlucuded whereas "end" is exclusive which means if [a:b] is the start and end index the value executed at end is b-1.

#Example:

In [ ]:
string = "I love chocolates"
string[0:5] #5 is exclusive, output shows untill index 4

'I lov'

In [ ]:
string[0:8] #tab space/space is also included while indexing

'I love c'

In [ ]:
string[0:] #for the whole sentence output

'I love chocolates'

In [ ]:
string[3:] #excludes the first 3 indices

'ove chocolates'

In [ ]:
string[:-4] #excludes the last 4 indices

'I love chocol'

In [ ]:
string[-4:] #shows the last 4 indices

'ates'

In [ ]:
#[start:end:step]
#The below code, when executed gives an output which skips an index every 2 steps up to 7 indices(8 is exclusive)
string[0:8:2]

'Ilv '

In [ ]:
#The below code, when executed gives an output which skips an index every 3 steps up to 9 indices(10 is exclusive)
string[0:10:3]

'Io o'

In [ ]:
string[::1] #also for the whole sentence output

'I love chocolates'

In [ ]:
string[::-1] #iterates over the sequence in reverse i.e., starts frome the end and moves to the beginning and step backwards by one character at a time

'setalocohc evol I'

#**2. Explain the key features of lists in Python.**

Features of Lists in Python:
List:

1. Lists are ordered collection of items.
2. They are heterogenous.
3. Lists are mutable.
4. Lists use zero-based index(first index starts with 0)


#1. Ordered lists:
An ordered list is a list of items that are featured in a specific order and is used when the order of the items is important.

#Example:

In [ ]:
#The order of instructions are the order of output
weapons = ["Pistols","Knifes", "Daggers", "Bullets", "Poisons", "Swords", "Rifles", "Bows and arrows"]
weapons

['Pistols',
 'Knifes',
 'Daggers',
 'Bullets',
 'Poisons',
 'Swords',
 'Rifles',
 'Bows and arrows']

In [ ]:
flowers = ["Roses", "Hyaciths", "Hydrangeas", "Lilies", "Orchids", "Jasmines", "Plumerias", "Lotus", "Sunflowers"]
flowers

['Roses',
 'Hyaciths',
 'Hydrangeas',
 'Lilies',
 'Orchids',
 'Jasmines',
 'Plumerias',
 'Lotus',
 'Sunflowers']

#2. Heterogenous lists:
Lists can contain different types of data structures like string, integer, float, bool, etc. That's why they are known as heterogenous lists.

#Example:

In [ ]:
list = ["Gels", "Lotions", "Creams", 1, 24, 99.99, True, False, 4+7j]
list

['Gels', 'Lotions', 'Creams', 1, 24, 99.99, True, False, (4+7j)]

In [ ]:
list1 = [True, 255, 7.99, "Water", "Fire", 9+10j]
list1

[True, 255, 7.99, 'Water', 'Fire', (9+10j)]

In [ ]:
#List of lists
#A list can be created by compiling diffrent lists in one.
#Here, 1st list is taken as a whole index, so [1, 2, 3] is 0 index, [4, 5, 6] is 1st index etc.
lis = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
lis

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
lis[1] #shows the 1st index

[4, 5, 6]

In [ ]:
#Indices of indices can also be shown and gives valid output
lis[1][2] #shows the 2nd index of the 1st index

6

#3. Mutable lists:
Lists are mutable. An item in a list can be changed by accessing it directly as part of the assignment statement.

#Example:

In [ ]:
weapons

['Pistols',
 'Knifes',
 'Daggers',
 'Bullets',
 'Poisons',
 'Swords',
 'Rifles',
 'Bows and arrows']

In [ ]:
weapons[0] = "Revolvers" #This changes index 0 i.e., 'Pistols' to 'Revolvers'
weapons

['Revolvers',
 'Knifes',
 'Daggers',
 'Bullets',
 'Poisons',
 'Swords',
 'Rifles',
 'Bows and arrows']

In [ ]:
weapons[7] = "Flamethrower" #This changes index 7 i.e., 'Bows and arrows' to 'Flamethrower'
weapons

['Revolvers',
 'Knifes',
 'Daggers',
 'Bullets',
 'Poisons',
 'Swords',
 'Rifles',
 'Flamethrower']

#4. Lists use zero-based index(first index starts with 0)

#Example:

In [ ]:
flowers

['Roses',
 'Hyaciths',
 'Hydrangeas',
 'Lilies',
 'Orchids',
 'Jasmines',
 'Plumerias',
 'Lotus',
 'Sunflowers']

In [ ]:
flowers[0] #displays the first index

'Roses'

In [ ]:
list = ["Gels", "Lotions", "Creams", 1, 24, 99.99, True, False, 4+7j]
list[0] #displays the first index

'Gels'

#**3. Describe how to access, modify and delete elements in a list with examples.**
ACCESSING:
* List elements are ordered by index, a number assigned to their placement in the list.
* List indices start at 0.
* To access: list[index]
* list.index() to find the index number

MODIFICATION:
1. .append
2. .insert
3. .extend
4. Concatenation(Adding 2 lists with '+')
5. Repetition
6. sorted
7. len
8. .count
9. pop

DELETION:
1. .del
2. .clear
3. .remove

#Elements access in a list:
Elements in a list can be accessed through the indices assigned to the particular element.

In [ ]:
weapons

['Pistols',
 'Knifes',
 'Daggers',
 'Bullets',
 'Poisons',
 'Swords',
 'Rifles',
 'Bows and arrows']

In [ ]:
weapons[0] #displays the first index

'Pistols'

In [ ]:
weapons[7] #displays the last index

'Bows and arrows'

#To find the index of a particular element:

In [ ]:
weapons.index("Daggers") #shows the index of 'Daggers'

2

In [ ]:
weapons.index("Rifles") #shows the index of 'Rifles'

6

#Modifying lists:
As lists are mutable, they can be modified very easily.

#1. ".append" allows us to add items at the end of the list.

#Example:

In [ ]:
dark_verse = []
dark_verse.append("The Predator")
dark_verse

['The Predator']

In [ ]:
dark_verse.append("The Reaper")
dark_verse

['The Predator', 'The Reaper']

In [ ]:
dark_verse.append("The Emperor")
dark_verse

['The Predator', 'The Reaper', 'The Emperor']

In [ ]:
dark_verse.append("The Finisher")
dark_verse

['The Predator', 'The Reaper', 'The Emperor', 'The Finisher']

In [ ]:
dark_verse.append("The Annihilator")
dark_verse

['The Predator',
 'The Reaper',
 'The Emperor',
 'The Finisher',
 'The Annihilator']

In [ ]:
dark_verse.append("The Syndicater")
dark_verse

['The Predator',
 'The Reaper',
 'The Emperor',
 'The Finisher',
 'The Annihilator',
 'The Syndicater']

#2. .insert allows us to insert a specified value at a specified position.

#Example:

In [ ]:
flowers

['Roses',
 'Hyaciths',
 'Hydrangeas',
 'Lilies',
 'Orchids',
 'Jasmines',
 'Plumerias',
 'Lotus',
 'Sunflowers']

In [ ]:
flowers.insert(2, "Carnations") #inserts 'Carnations' at index 2
flowers

['Roses',
 'Hyaciths',
 'Carnations',
 'Hydrangeas',
 'Lilies',
 'Orchids',
 'Jasmines',
 'Plumerias',
 'Lotus',
 'Sunflowers']

In [ ]:
weapons

['Revolvers',
 'Knifes',
 'Daggers',
 'Bullets',
 'Poisons',
 'Swords',
 'Rifles',
 'Flamethrower']

In [ ]:
weapons.insert(5, "Pistols") #inserts 'Pistols' at index 5
weapons

['Revolvers',
 'Knifes',
 'Daggers',
 'Bullets',
 'Poisons',
 'Pistols',
 'Swords',
 'Rifles',
 'Flamethrower']

#3. .extend adds the specified list elements at the end of the already existent list.

Example:

In [ ]:
list

['Gels', 'Lotions', 'Creams', 1, 24, 99.99, True, False, (4+7j)]

In [ ]:
list1

[True, 255, 7.99, 'Water', 'Fire', (9+10j)]

In [ ]:
list.extend(list1) #adds list1 elements at the end of list
list

['Gels',
 'Lotions',
 'Creams',
 1,
 24,
 99.99,
 True,
 False,
 (4+7j),
 True,
 255,
 7.99,
 'Water',
 'Fire',
 (9+10j)]

In [ ]:
list1.extend(list) #adds list elements at the end of list1
list1

[True,
 255,
 7.99,
 'Water',
 'Fire',
 (9+10j),
 'Gels',
 'Lotions',
 'Creams',
 1,
 24,
 99.99,
 True,
 False,
 (4+7j),
 True,
 255,
 7.99,
 'Water',
 'Fire',
 (9+10j)]

#4. Concatenation(Adding 2 lists)

#Example:

In [ ]:
weapons + flowers #adds the 2 lists without changing the original lists

['Revolvers',
 'Knifes',
 'Daggers',
 'Bullets',
 'Poisons',
 'Pistols',
 'Swords',
 'Rifles',
 'Flamethrower',
 'Roses',
 'Hyaciths',
 'Carnations',
 'Hydrangeas',
 'Lilies',
 'Orchids',
 'Jasmines',
 'Plumerias',
 'Lotus',
 'Sunflowers']

In [ ]:
flowers + weapons

['Roses',
 'Hyaciths',
 'Carnations',
 'Hydrangeas',
 'Lilies',
 'Orchids',
 'Jasmines',
 'Plumerias',
 'Lotus',
 'Sunflowers',
 'Revolvers',
 'Knifes',
 'Daggers',
 'Bullets',
 'Poisons',
 'Pistols',
 'Swords',
 'Rifles',
 'Flamethrower']

#5. Repetition:
This helps us to repeat an element and execute until the specified number of times.

#Example:

In [ ]:
"_" * 70

'______________________________________________________________________'

In [ ]:
"-" * 45

'---------------------------------------------'

In [ ]:
"*" * 20

'********************'

In [ ]:
list(range(10)) * 2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#6. Sorted list:
This is used to sort elements in alphabetical order or an ascending list without changing the original list.

#Example:

In [ ]:
weapons

['Pistols',
 'Knifes',
 'Daggers',
 'Bullets',
 'Poisons',
 'Swords',
 'Rifles',
 'Bows and arrows']

In [ ]:
sorted(weapons) #sorts the list in alphabetical order

['Bows and arrows',
 'Bullets',
 'Daggers',
 'Knifes',
 'Pistols',
 'Poisons',
 'Rifles',
 'Swords']

In [ ]:
listie = [2, 6, 3, 10, 120, 30, 65.10, 76.99, 20, 8.9]
sorted(listie)

[2, 3, 6, 8.9, 10, 20, 30, 65.1, 76.99, 120]

#7. len:
'len' is used to know the number of elements in a list.

#Example:

In [ ]:
weapons

['Pistols',
 'Knifes',
 'Daggers',
 'Bullets',
 'Poisons',
 'Swords',
 'Rifles',
 'Bows and arrows']

In [ ]:
len(weapons) #shows the number of elements in the list

8

In [ ]:
flowers

['Roses',
 'Hyaciths',
 'Hydrangeas',
 'Lilies',
 'Orchids',
 'Jasmines',
 'Plumerias',
 'Lotus',
 'Sunflowers']

In [ ]:
len(flowers)

9

#8. .count:
.count shows the number of times a specified value appears in the string.

#Example:

In [ ]:
listieee = [1, 2, 3, 3, 4, 5, 6, 6, 7, 8, 9]
listieee

[1, 2, 3, 3, 4, 5, 6, 6, 7, 8, 9]

In [ ]:
listieee.count(3) #shows the number of times 3 appears in the list

2

In [ ]:
listieee.count(9)

1

In [ ]:
books_list = ["Atomic Habits", "48 laws of Power", "48 laws of Power", "Ikigai", "Ikigai", "Ikigai", "How to talk to anyone", "Mughal empire", "Mughal empire", "How to stop worrying and start living"]
books_list

['Atomic Habits',
 '48 laws of Power',
 '48 laws of Power',
 'Ikigai',
 'Ikigai',
 'Ikigai',
 'How to talk to anyone',
 'Mughal empire',
 'Mughal empire',
 'How to stop worrying and start living']

In [ ]:
books_list.count("Ikigai")

3

In [ ]:
books_list.count("Mughal empire")

2

In [ ]:
books_list.count("48 laws of Power")

2

In [ ]:
books_list.count("Atomic Habits")

1

#9. pop():
pop removes the element at the specified position.

#Example:

In [ ]:
books_list

['Atomic Habits',
 '48 laws of Power',
 '48 laws of Power',
 'Ikigai',
 'Ikigai',
 'Ikigai',
 'How to talk to anyone',
 'Mughal empire',
 'Mughal empire',
 'How to stop worrying and start living']

In [ ]:
books_list.pop(0) #removes the first index
books_list

['48 laws of Power',
 '48 laws of Power',
 'Ikigai',
 'Ikigai',
 'Ikigai',
 'How to talk to anyone',
 'Mughal empire',
 'Mughal empire',
 'How to stop worrying and start living']

In [ ]:
books_list.pop() #removes last index
books_list

['48 laws of Power',
 '48 laws of Power',
 'Ikigai',
 'Ikigai',
 'Ikigai',
 'How to talk to anyone',
 'Mughal empire',
 'Mughal empire']

#3. DELETION:
Lists can be deleted, cleared and elements in lists can be removed using the below functions.

#1. .remove:
This function removes the speecified element.

#Example:

In [ ]:
novels = ["Peer-e-kamil", "Kite runner", "Harry potter", "Twilight", "Pride and Prejudice", "Gone with the wind", "Jannat ke pattay"]
novels

['Peer-e-kamil',
 'Kite runner',
 'Harry potter',
 'Twilight',
 'Pride and Prejudice',
 'Gone with the wind',
 'Jannat ke pattay']

In [ ]:
novels.remove("Gone with the wind") #removes 'Gone with the wind'
novels

['Peer-e-kamil',
 'Kite runner',
 'Harry potter',
 'Twilight',
 'Pride and Prejudice',
 'Jannat ke pattay']

#2. .clear:
This function is used to clear the whole list. Only the variables remain.

#Example:

In [ ]:
novels.clear() #clears the list and returns an empty list
novels

[]

#3. .del:
This function is used to delete the complete list.

#Example:

In [ ]:
del novels #deletes the list and when executed shows an error
novels

NameError: name 'novels' is not defined

#**4. Compare and contrast tuples and lists with examples.**



1. Lists are represented by square brackets[] whereas tuples are represented by parentheses().
2. Lists are mutable and tuples are immutable.
3. As lists are mutable there are many methods for modification like append(), remove(), pop(), sort().
4. As tuples are immutable there are limited methods of modifcation such as count(), index().  
5. Lists cannot be used as key in dictionaries but tuples can be used as key.
6. Lists can be used for collections of items that may change over time such as user inputs or list objects.
7. Tuples are suitable for fixed collections of items, like coordinates, configuration settings or sensitive identity cards.
8. Both are heterogenouss and support element access.

#1. Lists - [ ], Tuples - ( )

#Example:

In [ ]:
water = []
type(water)

list

In [ ]:
fire = ()
type(fire)

tuple

#2. Mutability and immutability
 Lists - Mutable/can be modified

Tuples - Immutable/cannot be modified

#Example:

In [ ]:
list

['Gels', 'Lotions', 'Creams', 1, 24, 99.99, True, False, (4+7j)]

In [ ]:
list[0] = "Water" #lists are mutable
list

['Water', 'Lotions', 'Creams', 1, 24, 99.99, True, False, (4+7j)]

In [ ]:
cat = ("Turkish van", "Rag doll", "Mainecoon", "Persian")
cat

('Turkish van', 'Rag doll', 'Mainecoon', 'Persian')

In [ ]:
cat[0] = "Siamese" #tuples are immutable
cat #an error is returned as tuples do not support item assignment

TypeError: 'tuple' object does not support item assignment

#3. Methods of modification of list:



* append()
* pop()
* remove()
* sort()

In [ ]:
list

['Water', 'Lotions', 'Creams', 1, 24, 99.99, True, False, (4+7j)]

In [ ]:
list.append("Fire") #adds 'Fire' at the end of the list
list

['Water', 'Lotions', 'Creams', 1, 24, 99.99, True, False, (4+7j), 'Fire']

In [ ]:
list.pop() #removes the last index
list

['Water', 'Lotions', 'Creams', 1, 24, 99.99, True, False, (4+7j)]

In [ ]:
list.remove(4+7j) #removes the specified element
list

['Water', 'Lotions', 'Creams', 1, 24, 99.99, True, False]

In [ ]:
sorted(listie) #sorts the list in alphabetical order or ascending order by default
listie

[2, 6, 3, 10, 120, 30, 65.1, 76.99, 20, 8.9]

#4. Tuples' immutability:
Tuples can be accessed rather than modified.

#Example:

In [ ]:
cat

('Turkish van', 'Rag doll', 'Mainecoon', 'Persian')

In [ ]:
cat[0] #displays the first index

'Turkish van'

In [ ]:
cat.count("Rag doll") #shows the number of times 'Rag doll' appears in the tuple

1

In [ ]:
cat[0] = "Siamese" #tuples are immutable
cat #this returns an error showing that tuples are indeed immutable

TypeError: 'tuple' object does not support item assignment

#5. Lists, tuples and dictionaries
Lists cannot be used as key in dictionaries but tuples can be used as key.

In [ ]:
my_dict = {[listieee]: "Torn"} #List cannot be used as key

TypeError: unhashable type: 'list'

In [ ]:
d = {(1, 2, 3): "Flowers"} #Tuple can be used as key
d

{(1, 2, 3): 'Flowers'}

#6. Use case of list:
Lists can be used for collections of items that may change over time such as user inputs or list objects.

#Example:

In [ ]:
numbers = [1, 2, 3, 4, 5]
[num ** 2 for num in numbers] #squares the elements in the list

[1, 4, 9, 16, 25]

In [ ]:
str11 = "pwskillsassignment2.txt"
str11.split(".") #splits the string into a list

['pwskillsassignment2', 'txt']

In [ ]:
file_name = ["assignment2.txt", "assignment2.py", "assignment2.ipynb", "assignment2.docx"]
file_name

['assignment2.txt', 'assignment2.py', 'assignment2.ipynb', 'assignment2.docx']

In [ ]:
[file.split(".")[-1] for file in file_name]

['txt', 'py', 'ipynb', 'docx']

#7. Use case of tuple:
Tuples are suitable for fixed collections of items, for data which shouldn't be modified like coordinates, configuration settings or sensitive identity cards.

#Example:

In [ ]:
student_id = (44111, 44112, 44113, 44114, 44115, 44116, 44117, 44118, 44119, 44120, 44115, 44113, 44120)
student_id

(44111,
 44112,
 44113,
 44114,
 44115,
 44116,
 44117,
 44118,
 44119,
 44120,
 44115,
 44113,
 44120)

In [ ]:
student_id.count(44113) #returns the number of times 44113 appears in the tuple

2

In [ ]:
student_id.count(44111)

1

In [ ]:
student_id.count(44120)

2

In [ ]:
student_id.index(44113) #returns the index of 44113 where it first exists

2

In [ ]:
print(student_id * 1 * 2)

(44111, 44112, 44113, 44114, 44115, 44116, 44117, 44118, 44119, 44120, 44115, 44113, 44120, 44111, 44112, 44113, 44114, 44115, 44116, 44117, 44118, 44119, 44120, 44115, 44113, 44120)

In [ ]:
student_id[0:5] #displays the first 5 elements

(44111, 44112, 44113, 44114, 44115)

In [ ]:
student_id[::-1] #displays the list in reverse order

(44120,
 44113,
 44115,
 44120,
 44119,
 44118,
 44117,
 44116,
 44115,
 44114,
 44113,
 44112,
 44111)

In [ ]:
for i in student_id:
  print(i)

44111
44112
44113
44114
44115
44116
44117
44118
44119
44120
44115
44113
44120

In [ ]:
for i in student_id: #shows type  of element
  print(i, type(i))

44111 <class 'int'>
44112 <class 'int'>
44113 <class 'int'>
44114 <class 'int'>
44115 <class 'int'>
44116 <class 'int'>
44117 <class 'int'>
44118 <class 'int'>
44119 <class 'int'>
44120 <class 'int'>
44115 <class 'int'>
44113 <class 'int'>
44120 <class 'int'>

In [ ]:
max(student_id) #shows the maximum element

44120

In [ ]:
min(student_id) #shows the minimum element

44111

In [ ]:
44111 in student_id #bool value

True

In [ ]:
43111 in student_id

False

#8. Content and access to list and tuple elements:
Both are heterogenouss and support element access.

#Example:

In [ ]:
list #lists are heterogenous

['Water', 'Lotions', 'Creams', 1, 24, 99.99, True, False]

In [ ]:
tuple = ("Water", "Fire", "Earth", "Air",1, 2.2, True, 4+6j) #tuples are heterogenous
tuple

('Water', 'Fire', 'Earth', 'Air', 1, 2.2, True, (4+6j))

In [ ]:
list[0] #lists support element access

'Water'

In [ ]:
tuple[1] #tuples support element access

'Fire'

#**5. Describe the key features of sets and provide examples of their use.**
#Sets:
Sets are represented using flower brackets{}.
Set is a data type in python used to store numerous items in a single variable.



* Sets are unordered.
* Sets are unindexed.
* Sets are mutable.
* Sets are heterogenous.
* Sets eliminate the duplicate values.


#Set operations:
##Union:
Combines elements from two sets excluding duplicates.
##Intersection:
Returns the common elements between sets.
##Difference:
Returns elements present in the first set and not in the other.
##Symmetrical difference:
Returns the elements present in either of the sets but not in both.

In [ ]:
s1 = {"Reading", "Writing", "Calligraphy", "Hand lettering", "Painting", "Painting", "Painting", "Drawing", "Drawing", "Coding", "Dining", "Expressing"}
s1

{'Calligraphy',
 'Coding',
 'Dining',
 'Drawing',
 'Expressing',
 'Hand lettering',
 'Painting',
 'Reading',
 'Writing'}

In [ ]:
s2 = {"Hacking", "Coding", "Dining", "Expressing", "Understanding", "Observing", "Bearing","Beautifying", "Coding", "Dining", "Expressing", "Understanding", "Observing", "Bearing", "Beautifying"}
s2

{'Bearing',
 'Beautifying',
 'Coding',
 'Dining',
 'Expressing',
 'Hacking',
 'Observing',
 'Understanding'}

In [ ]:
#Union
s1.union(s2)

{'Bearing',
 'Beautifying',
 'Calligraphy',
 'Coding',
 'Dining',
 'Drawing',
 'Expressing',
 'Hacking',
 'Hand lettering',
 'Observing',
 'Painting',
 'Reading',
 'Understanding',
 'Writing'}

In [ ]:
#Union
s1|s2

{'Bearing',
 'Beautifying',
 'Calligraphy',
 'Coding',
 'Dining',
 'Drawing',
 'Expressing',
 'Hacking',
 'Hand lettering',
 'Observing',
 'Painting',
 'Reading',
 'Understanding',
 'Writing'}

In [ ]:
#Intersection
s1.intersection(s2)

{'Coding', 'Dining', 'Expressing'}

In [ ]:
#Intersection
s1 & s2

{'Coding', 'Dining', 'Expressing'}

In [ ]:
#Difference
s1 - s2

{'Calligraphy', 'Drawing', 'Hand lettering', 'Painting', 'Reading', 'Writing'}

In [ ]:
#Symmetrical difference
s1 ^ s2

{'Bearing',
 'Beautifying',
 'Calligraphy',
 'Drawing',
 'Hacking',
 'Hand lettering',
 'Observing',
 'Painting',
 'Reading',
 'Understanding',
 'Writing'}

In [ ]:
#Unordered and unindexed
s1 = {"Reading", "Writing", "Calligraphy", "Hand lettering", "Painting", "Painting", "Painting", "Drawing", "Drawing", "Coding", "Dining", "Expressing"}
s1

{'Calligraphy',
 'Coding',
 'Dining',
 'Drawing',
 'Expressing',
 'Hand lettering',
 'Painting',
 'Reading',
 'Writing'}

In [ ]:
#Heterogenous
s3 = {"Hacking", "Coding", "Dining", "Expressing", "Understanding", 1, 22, 345, 3.987, True}
s3

{1,
 22,
 3.987,
 345,
 'Coding',
 'Dining',
 'Expressing',
 'Hacking',
 'Understanding'}

In [ ]:
#Eliminates dupliicate/repeated elements
s1 = {"Reading", "Writing", "Calligraphy", "Hand lettering", "Painting", "Painting", "Painting", "Drawing", "Drawing", "Coding", "Dining", "Expressing"}
s1

{'Calligraphy',
 'Coding',
 'Dining',
 'Drawing',
 'Expressing',
 'Hand lettering',
 'Painting',
 'Reading',
 'Writing'}

In [ ]:
#Mutable
s1.add("Boxing")
s1

{'Boxing',
 'Calligraphy',
 'Coding',
 'Dining',
 'Drawing',
 'Expressing',
 'Hand lettering',
 'Painting',
 'Reading',
 'Writing'}

In [ ]:
s1.remove("Drawing")
s1

{'Boxing',
 'Calligraphy',
 'Coding',
 'Dining',
 'Expressing',
 'Hand lettering',
 'Painting',
 'Reading',
 'Writing'}

#Frozen sets:
Immutable version of sets where we cannot add or remove any elements.

#Example:

In [ ]:
my_fs = frozenset([1, 2, 3, 4, 5])
my_fs

frozenset({1, 2, 3, 4, 5})

In [ ]:
#returns an error as frozen sets are immutable
my_fs.add(6)

AttributeError: 'frozenset' object has no attribute 'add'

#Use of sets:
1. Sets remove duplicate values from a collection like a list and perform common math operations like unions and intersections.

#**6. Discuss the use cases of tuples and sets in Python programming.**
#Use cases of tuples:
Tuples are suitable for fixed collections of items, for data which shouldn't be modified like coordinates, configuration settings or sensitive identity cards.
To sum it up we can se that tuples are used to store data that shouldn't be tampered with.
#Example:

In [ ]:
student_id = (44111, 44112, 44113, 44114, 44115, 44116, 44117, 44118, 44119, 44120, 44115, 44113, 44120)
student_id

(44111,
 44112,
 44113,
 44114,
 44115,
 44116,
 44117,
 44118,
 44119,
 44120,
 44115,
 44113,
 44120)

In [ ]:
student_id.count(44113) #returns the number of times 44113 appears in the tuple

2

In [ ]:
student_id.count(44111)

1

In [ ]:
student_id.count(44120)

2

In [ ]:
student_id.index(44113) #returns the index of 44113 where it first exists

2

In [ ]:
print(student_id * 1 * 2)

(44111, 44112, 44113, 44114, 44115, 44116, 44117, 44118, 44119, 44120, 44115, 44113, 44120, 44111, 44112, 44113, 44114, 44115, 44116, 44117, 44118, 44119, 44120, 44115, 44113, 44120)

In [ ]:
student_id[0:5] #displays the first 5 elements

(44111, 44112, 44113, 44114, 44115)

In [ ]:
student_id[::-1] #displays the list in reverse order

(44120,
 44113,
 44115,
 44120,
 44119,
 44118,
 44117,
 44116,
 44115,
 44114,
 44113,
 44112,
 44111)

In [ ]:
for i in student_id:
  print(i)

44111
44112
44113
44114
44115
44116
44117
44118
44119
44120
44115
44113
44120

In [ ]:
for i in student_id: #shows type  of element
  print(i, type(i))

44111 <class 'int'>
44112 <class 'int'>
44113 <class 'int'>
44114 <class 'int'>
44115 <class 'int'>
44116 <class 'int'>
44117 <class 'int'>
44118 <class 'int'>
44119 <class 'int'>
44120 <class 'int'>
44115 <class 'int'>
44113 <class 'int'>
44120 <class 'int'>

In [ ]:
max(student_id) #shows the maximum element

44120

In [ ]:
min(student_id) #shows the minimum element

44111

In [ ]:
44111 in student_id #bool value

True

In [ ]:
43111 in student_id

False

#Use cases of sets:
Sets are used to store numerous items in a single variable.
Sets remove duplicate values from a collection like a list and perform common math operations like unions and intersections.

#Example:

In [ ]:
list0 = [1, 2, "Orange", "Lime", "Lemon", "Grapefruit"]
list0

[1, 2, 'Orange', 'Lime', 'Lemon', 'Grapefruit']

In [ ]:
#Creates set from list without changing the original data type.
s = set(list0)
s

{1, 2, 'Grapefruit', 'Lemon', 'Lime', 'Orange'}

In [ ]:
list0 = list(s)
list0

[1, 2, 'Grapefruit', 'Lemon', 'Orange', 'Lime']

In [ ]:
#Sets are not indexed, so elements of a set cannot be accessed
s[0]

TypeError: 'set' object is not subscriptable

In [ ]:
#Lists are indexed and can be accessed
list0[0]

1

A set of sets or a set of lists can't be created as they are unhashable.

Set inisde the set or list inside set must be immutable or it throws an error.

Unhashable ---> Mutable

In [ ]:
set = {{1, 2, 3}, {4, 5, 6}}

TypeError: unhashable type: 'set'

In [ ]:
set1 = {[1, 2, 3], [4, 5, 6]}

TypeError: unhashable type: 'list'

A set of tuples can be created as tuples are immutable and can be included in a set.

In [ ]:
set2 = {(1, 2, 3), (4, 5, 6)}
set2

{(1, 2, 3), (4, 5, 6)}

##Immutable data structure has a stable hash value.

In [ ]:
#Sets are mutable
s.add(66)
s

{1, 2, 66, 'Grapefruit', 'Lemon', 'Lime', 'Orange'}

In [ ]:
s.pop()
s

{2, 66, 'Grapefruit', 'Lemon', 'Lime', 'Orange'}

In [ ]:
s.remove(2)
s

{66, 'Grapefruit', 'Lemon', 'Lime', 'Orange'}

In [ ]:
s.update("Mandarin") #Updates are iterable and sets remove duplicate items
s

{66, 'Grapefruit', 'Lemon', 'Lime', 'M', 'Orange', 'a', 'd', 'i', 'n', 'r'}

In [ ]:
s.remove("Apple") #This returns an error as the specified element is absent in the set
s

KeyError: 'Apple'

In [ ]:
s.discard("Apple") #Using .discard() doesn't return an error
s

{66, 'Grapefruit', 'Lemon', 'Lime', 'M', 'Orange', 'a', 'd', 'i', 'n', 'r'}

#**7. Describe how to add, modify and delete items in a dictionary with examples.**

#Dictionaries:
Stores data as key value pair.

In [62]:
the = {
    'Male protagonist': {"name": "Tristan", "email": "moranatristan20@gmail.com", "contact": "hack and contact", "age": 28, "Best friend": "Dante"},
    'Female protagonist': {"name": "Morana", "email": "tristanmorana20@gmail.com", "contact": "hack and track", "age": 24}
    }
the

{'Male protagonist': {'name': 'Tristan',
  'email': 'moranatristan20@gmail.com',
  'contact': 'hack and contact',
  'age': 28,
  'Best friend': 'Dante'},
 'Female protagonist': {'name': 'Morana',
  'email': 'tristanmorana20@gmail.com',
  'contact': 'hack and track',
  'age': 24}}

In [56]:
the['Male protagonist']["Sobriquet"] = "Caveman" #adds a new key value pair
the

{'Male protagonist': {'name': 'Tristan',
  'email': 'moranatristan20@gmail.com',
  'contact': 'hack and contact',
  'age': 28,
  'Best friend': 'Dante',
  'Sobriquet': 'Caveman'},
 'Female protagonist': {'name': 'Morana',
  'email': 'tristanmorana20@gmail.com',
  'contact': 'hack and track',
  'age': 24}}

In [57]:
the['Female protagonist']["Sobriquet"] = "Wildcat"
the

{'Male protagonist': {'name': 'Tristan',
  'email': 'moranatristan20@gmail.com',
  'contact': 'hack and contact',
  'age': 28,
  'Best friend': 'Dante',
  'Sobriquet': 'Caveman'},
 'Female protagonist': {'name': 'Morana',
  'email': 'tristanmorana20@gmail.com',
  'contact': 'hack and track',
  'age': 24,
  'Sobriquet': 'Wildcat'}}

In [58]:
the['Female protagonist']["age"] = 23 #modifies the value of an existing key
the

{'Male protagonist': {'name': 'Tristan',
  'email': 'moranatristan20@gmail.com',
  'contact': 'hack and contact',
  'age': 28,
  'Best friend': 'Dante',
  'Sobriquet': 'Caveman'},
 'Female protagonist': {'name': 'Morana',
  'email': 'tristanmorana20@gmail.com',
  'contact': 'hack and track',
  'age': 23,
  'Sobriquet': 'Wildcat'}}

In [63]:
del the['Male protagonist']["Best friend"] #deletes a key value pair
the

{'Male protagonist': {'name': 'Tristan',
  'email': 'moranatristan20@gmail.com',
  'contact': 'hack and contact',
  'age': 28},
 'Female protagonist': {'name': 'Morana',
  'email': 'tristanmorana20@gmail.com',
  'contact': 'hack and track',
  'age': 24}}

In [64]:
the.pop('Female protagonist') #deletes a key value pair
the

{'Male protagonist': {'name': 'Tristan',
  'email': 'moranatristan20@gmail.com',
  'contact': 'hack and contact',
  'age': 28}}

In [65]:
the.clear() #clears the dictionary
the

{}

#**8. Discuss the importance of dictionary keys being immutable and provide examples.**
Only immutable elements can be used as dictionary keys, and hence only tuples and not lists can be used as keys.
If a key was mutable, its hash value could change, making it impossible to find the associated value in the dictionary.

Keys in dictionaries are immutable as dictionaries use keys to determine the storage and retrieval of values.

Immutable keys also provide a reliable and efficient way to hash and compare values, ensuring fast lookups and operations.

#Rules of defining keys:

In [1]:
#Integer can be a key
d = {1: "One", 2: "Two", 3: "Three"}
d

{1: 'One', 2: 'Two', 3: 'Three'}

In [2]:
#Float can be a key
d = {1.0: "One", 2.0: "Two", 3.0: "Three"}
d

{1.0: 'One', 2.0: 'Two', 3.0: 'Three'}

In [4]:
#Bool can be a key
d = {True: "One", False: "Two"}
d

{True: 'One', False: 'Two'}

In [5]:
# #(hashtag) cannot be a key
d = {# : "One"}

SyntaxError: incomplete input (<ipython-input-5-fb5f78997dae>, line 2)

In [6]:
#Unique characters cannot be key
d = {@: "One"}
d

SyntaxError: invalid syntax (<ipython-input-6-9051c26bc4b8>, line 2)

In [1]:
#As list is mutable it cannot be a key
d = {[1, 2, 3]: "One"}
d

TypeError: unhashable type: 'list'

In [2]:
#As tuple is immutable it can be used as a key
d = {(1, 2, 3): "One"}
d

{(1, 2, 3): 'One'}

In [3]:
##As sets are mutable it cannot be a key
d = {{1, 2, 3}: "One"}
d

TypeError: unhashable type: 'set'

In [5]:
#A dictionary of a dictionary cannot be created as dict value can be mutable
d = {{1: "One", 2: "Two", 3: "Three"}: "Numbers"}
d

TypeError: unhashable type: 'dict'

---> Only strings and numbers can be used as keys of the dictionary.

In [11]:
the = {
    'Male protagonist': {"name": "Tristan", "email": "moranatristan20@gmail.com", "contact": "hack and contact", "age": 28, "Best friend": "Dante"},
    'Female protagonist': {"name": "Morana", "email": "tristanmorana20@gmail.com", "contact": "hack and track", "age": 24}
    }
the

{'Male protagonist': {'name': 'Tristan',
  'email': 'moranatristan20@gmail.com',
  'contact': 'hack and contact',
  'age': 28,
  'Best friend': 'Dante'},
 'Female protagonist': {'name': 'Morana',
  'email': 'tristanmorana20@gmail.com',
  'contact': 'hack and track',
  'age': 24}}

In [12]:
duck = {"name": "duckiee", "colour": "white", "age": 2}
duck

{'name': 'duckiee', 'colour': 'white', 'age': 2}

In [14]:
duck['name'] #Value can be accessed using key
duck

{'name': 'duckiee', 'colour': 'white', 'age': 2}

In [16]:
duck['duckiee'] #Key cannot be accessed using value and hence cannot be changed
duck

KeyError: 'duckiee'